<div class="jumbotron">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <h2 class="display-3">Online etkinlik yönetim sistemine hoşgeldiniz.</h2>
    <p>Online Etkinlik Sistemi, bir kullanıcının düzenlediği tüm etkinlikleri online olarak organize edebilmesine ve diğer kullanıcıların bu etkinliklere katılabilmesine olanak tanıyan dijital araçtır.
      Online Etkinlik Sisteminde;
    </p>
    <hr>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Etkinliklerini Yönet</h2>
      <p>Etkinliğinizi isim, adres, açıklama, kontenjan gibi birçok özelliğini belirleyebildiğiniz ve oluşturulduktan sonra güncelleme, silme yapabilceğiniz yönetim paneli. </p>

    </div>
    <div class="col-md-4">
      <h2>Etkinliklere Katıl</h2>
      <p>Sisteme dahil olan kullanıcıların oluşturduğu biletli veya biletsiz seçenekli etkinlikleri tüm detayları ile birlikte görüntüleyebilme ve katılabilme olanağı. </p>

    </div>
    <div class="col-md-4">
      <h2>Kullanıcı Profili</h2>
      <p>Kayıt esnasında verdiğiniz bilgileri görüntüleyebileceğiniz, istediğiniz takdirde şifrenizi değiştirme imkanı sunan kullanıcıya özel profil sayfası.</p>

    </div>
  </div>
  <hr>
</div>
