<div class="row" id="lr-container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="lr-title">
      <h1 style="font-size: 32px; font-family: arial;">Hoşgeldiniz,</h1>
      <h3 style="font-family: arial !important;">Online Etkinlik Sistemini kullanmak için lütfen kayıt olun veya giriş
        yapın!</h3>
    </div>
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" role="tab" aria-controls="pills-login"
          aria-selected="true">Etkinlik Düzenle</a>
      </li>
    </ul>

    <!-- Pills content -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

        <form [formGroup]="frmEvent" (ngSubmit)="onEventSubmit(frmEvent.value)">
          <div class="text-center mb-3">
          </div>
          <!-- Name input -->
          <div class="form-outline mb-6">
            <input formControlName="name" type="text" id="registerName" class="form-control"
              [ngClass]="{'is-invalid': componentEvent.name.errors}" />
            <label class="form-label" for="registerName">Etkinlik Adı</label>
            <small class="form-text invalid-feedback"
              *ngIf="componentEvent.name.errors?.required && (componentEvent.name.touched)">
              Lütfen etkinlik adını giriniz!</small>
            <small class="form-text invalid-feedback"
              *ngIf="(componentEvent.name.errors?.minlength || componentEvent.name.errors?.maxlength) && (componentEvent.name.touched)">
              Etkinlik adı 3 karakterden kısa olamaz!</small>
          </div>

          <!-- Surname input -->
          <div class="form-outline mb-6" id="surnameSection">
            <input formControlName="surname" type="text" id="registerSurname" class="form-control"
              [ngClass]="{'is-invalid': componentEvent.surname.errors}" />
            <label class="form-label" for="registerSurname">Etkinlik Adresi</label>
            <small class="form-text invalid-feedback"
              *ngIf="componentEvent.surname.errors?.required && (componentEvent.surname.touched )">
              Lütfen etkinlik adresini giriniz!</small>
            <small class="form-text invalid-feedback"
              *ngIf="(componentEvent.surname.errors?.minlength || componentEvent.surname.errors?.maxlength) && (componentEvent.surname.touched)">
              Etkinlik adresi 10 karakterden daha kısa olamaz!</small>
          </div>

          <!-- WebAddressUrl input -->
          <div class="form-outline mb-6 visually-hidden" id="webAddressSection">
            <input formControlName="webAddressUrl" type="text" id="registerWebAddressUrl" class="form-control"
              [ngClass]="{'is-invalid': componentEvent.webAddressUrl.errors}" />
            <label class="form-label" for="registerWebAddressUrl">Etkinlik Açıklaması</label>
            <small class="form-text invalid-feedback"
              *ngIf="componentEvent.webAddressUrl.errors?.required && (componentEvent.webAddressUrl.touched)">
              Lütfen etkinlik açıklamasını giriniz!</small>
            <small class="form-text invalid-feedback"
              *ngIf="(componentEvent.webAddressUrl.errors?.minlength || componentEvent.webAddressUrl.errors?.maxlength) && (componentEvent.webAddressUrl.touched)">
              Etkinlik açıklaması 10 karakterden daha kısa olamaz!</small>
          </div>

          <!-- Username input -->
          <div class="form-outline mb-6">
            <input formControlName="username" type="text" id="registerUsername" class="form-control"
              [ngClass]="{'is-invalid': componentEvent.username.errors}" />
            <label class="form-label" for="registerUsername">Kontenjan</label>
            <small class="form-text invalid-feedback"
              *ngIf="componentEvent.username.errors?.required && (componentEvent.username.touched )">
              Lütfen kontenjanı giriniz!</small>
            <small class="form-text invalid-feedback"
              *ngIf="(componentEvent.username.errors?.minlength || componentEvent.username.errors?.maxlength) && (componentEvent.username.touched)">
              Kontenjan sayısı 2 den az olamaz!</small>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-6">
            <input formControlName="email" type="email" id="registerEmail" class="form-control" placeholder="Biletsiz bir etkinlik düzenliyorsanız burayı boş bırakınız."
              [ngClass]="{'is-invalid': componentEvent.email.errors}" />
            <label class="form-label" for="registerEmail">Bilet Ücreti</label>
            <small class="form-text invalid-feedback"
              *ngIf="componentEvent.email.errors?.required && (componentEvent.email.touched)">
              Bilet ücreti negatif değerde olamaz!</small>
            <small class="form-text invalid-feedback"
              *ngIf="componentEvent.email.errors?.email && (componentEvent.email.touched)">
              Lüften geçerli bir E-Mail adresi giriniz!</small>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-6">
            <input formControlName="password" type="password" id="registerPassword" class="form-control"
              [ngClass]="{'is-invalid': componentEvent.password.errors}" />
            <label class="form-label" for="registerPassword">Şifre</label>
            <small class="form-text invalid-feedback"
              *ngIf="componentEvent.password.errors?.required && (componentEvent.password.touched )">
              Lütfen şifreyi boş geçmeyiniz!</small>
            <small class="form-text invalid-feedback"
              *ngIf="(componentEvent.password.errors?.minlength||componentEvent.password.errors?.maxlength) && (componentEvent.password?.touched )">
              Şifre en az 8 karakterden oluşmalıdır!</small>
            <small class="form-text invalid-feedback" *ngIf="componentEvent.password.errors?.notsame ">
              Şifre ve şifre tekrarı aynı olmalıdır!</small>
          </div>

          <!-- Password Confirm input -->
          <div class="form-outline mb-6">
            <input formControlName="passwordConfirm" type="password" id="registerPasswordConfirm"
              class="form-control" />
            <label class="form-label" for="registerPasswordConfirm">Şifre Tekrar</label>
          </div>
          <br>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-3">Üye ol</button>
        </form>
      </div>
      <!-- Pills content -->
    </div>
    <div class="col-md-4"></div>
  </div>
